.card-keuangan {
    padding: 16px;
    margin-bottom: 4rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: left;
}

.card-keuangan img {
    width: 100%;
    height: 350px;
    object-fit: "cover";
    margin-bottom: 16px;
}

.card-keuangan p a {
    color: #0060ff;
    text-decoration: underline;
}

.header-keuangan {
    width: 100%;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

.header-keuangan ul {
    padding: 10px 15px;
    list-style: none;
    display: flex;
}

.header-keuangan ul li,
.header-keuangan ul li a {
    font-weight: 500;
    color: #002147;
    text-decoration: none;
}

.header-keuangan ul li:nth-child(2) {
    margin-left: 0.75rem;
}
.header-keuangan ul li:nth-child(3) {
    margin-left: 0.75rem;
}

.content-keuangan {
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical;
}