.card-style {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    text-align: left;
    padding: 20px;
    margin-bottom: 2.5rem;
    background-color: #fff;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-style {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.content-style {
    padding: 20px 50px;
    margin-top: 30px;
}

.section-style {
    margin-bottom: 40px;
    text-align: center;
    padding: 20px 50px;
}

.contact-section-style {
    padding: 20px 50px;
    text-align: center;
    margin-bottom: 40px;
}

.ekstrakurikuler-container-style {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.ekstrakurikuler-container-style .icon-ekstrakurikuler {
    color: white;
    font-size: 3rem;
}

.banner-beranda {
    transform: translateY(scrollY * 0.5px);
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
  };


.banner-beranda::after{
    background: #000000 none repeat scroll 0 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    content: "";
    height: 30%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top:4rem;
    width: 100%;
    z-index: -1;
}

@media screen and (max-width: 992px) {
    .card-style {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding: 10px;
    }

    .content-style {
        padding: 10px 30px;
        margin-top: 20px;
    }

    .section-style {
        padding: 20px 40px;
    }

    .contact-section-style {
        padding: 20px 40px;
    }

    .ekstrakurikuler-container-style {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 575px) {
    .content-style {
        padding: 10px 20px;
        margin-top: 20px;
    }

    .section-style {
        padding: 10px 20px;
    }

    .contact-section-style {
        padding: 10px 20px;
    }

    .ekstrakurikuler-container-style {
        grid-template-columns: repeat(1, 1fr);
    }
}