@media screen and (max-width: 320px) {
  #tabel {
    display: flex;
    flex-direction: column;
    margin-right: 0%;
    padding-right: 2px;
  }
  #display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  #btn1,
  #btn2 {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 390px) {
  .container-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .container-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .container {
    display: flex;
    flex-direction: column;
  }

  .kelembagaan-btn {
    width: 150px;
  }
}
@media screen and (max-width: 768px) {
  #display {
    gap: 35px;
  }
}
@media screen and (max-width: 1024px) {
  #display {
    gap: 40px;
  }
}
@media screen and (max-width: 1440px) {
  #display {
    gap: 40px;
  }
  /* #display{
        
    } */
}
