/* .pembungkus{
    background-image: url(https://img.freepik.com/premium-vector/white-elegant-texture-background_23-2148445781.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 55px;
    margin-bottom: 10px;
    padding-bottom: 50px;

}
.standar{
    padding: 30px;
    padding-top: 50px;
    
}
.hh1{
    width: 550px;
    font-size: 50px;
    padding-top: 50px;
}
.table{
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.thead{
    width: 1000px;
    height: 400px;
} */
/* #carousel{
    display: flex;
    justify-content: center;
    align-items: center;

} */
/* #carouselExample{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin-left: 100px;

}
#img-boyolali-3{
    width: 1000px;
    height: 400px;
}

#img-boyolali-1{
    width: 1000px;
    height: 400px;

}
#img-boyolali-2{
    width: 1000px;
    height: 400px;

}
@media screen and (max-width: 1024px) {
   

    .pembungkus{
        padding-top: 50px;
    }
    #carouselExample{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 800px;
        margin-left: 80px;
    }
    #img-boyolali-3{
        width: 800px;
        height: 400px;
    }
    
    #img-boyolali-1{
        width: 800px;
        height: 400px;
    
    }
    #img-boyolali-2{
        width: 800px;
        height: 400px;
    
    }
}
@media screen and (max-width: 768px) {
    .hh1{
        font-size: 40px;
        width: 400px;
    }
    #carouselExample{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        margin-left: 55px;
    }
    #img-boyolali-3{
        width: 800px;
        height: 300px;
    }
    
    #img-boyolali-1{
        width: 800px;
        height: 300px;
    
    }
    #img-boyolali-2{
        width: 800px;
        height: 300px;
    
    }
    .thead{
        width: 650px;
        height: 400px;
    }
}
@media screen and (max-width:320px) {
    .hh1{
        font-size: 25px;
        width: 300px;
    }
    #carouselExample{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        margin-left: 5px;
    }
    #img-boyolali-3{
        width: 300px;
        height: 150px;
    }
    
    #img-boyolali-1{
        width: 300px;
        height: 150px;
    
    }
    #img-boyolali-2{
        width: 300px;
        height: 150px;
    
    }
    .thead{
        width: 250px;
        height: 200px;
    }
    .btn-unduh{

    }
} */
.container{
    margin-bottom: 0px;
}

.hh1{
    padding-top: 100px;
    width: 400px;
    font-size: 57;
}
.img-boyolali-3{
    width: 800px;
    height: 400px;
}
.img-boyolali-2{
    width: 800px;
    height: 400px;
}
.img-boyolali-1{
    width: 800px;
    height: 400px;
}
 #carouselExample{
    width: 900px;
    height: 400px;
    display: flex;
    
    /* margin-left: 120px; */
    flex-direction: column;
 }
 .display{
   display: flex;
   justify-content: center;
   align-items: center;
 }
 @media screen and (max-width: 1024px) {
    #carouselExample{
        width: 800px;
        height: 350px;
        padding-top: 50px;

    }
    .display{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    .img-boyolali-1{
        width: 600px;
        height: 350px;
    }
    .img-boyolali-2{
        width: 600px;
        height: 350px;
    }
    .img-boyolali-3{
        width: 600px;
        height: 350px;
    }
    #tabel{
        padding-right: 14px;
    }
 }
 @media screen and ( max-width:768px ) {
    #carouselExample{
        width: 600px;
        height: 300px;
        padding-top: 35px;
    }
    .display{
        display: flex;
        justify-content: center;
        align-items: center;
      }
   #tabel{
    padding-right: 13px;
   }
 }
 @media screen and (max-width: 320px) {
    #carouselExample{
        width: 250px;
        height: 150px;
        padding-top: 5px;
   }
   .display{
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .hh1{
        padding-top: 40px;
        width: 200px;
        font-size: 25px;
    }
    #tabel{
        padding-right: 13px;
    }
    /* #tabel{
        
    } */
 }