table tbody td {
    text-align: left;
}
table tbody td .text-long{
  text-align: justify;
}
table tbody td .aksi {
  text-align: center;
  display: flex;
  justify-content: center;
}
#table-padding{
  margin-top: 520px;
}


@media (max-width: 390px) {
  /* Center the search input */
  .form-control.widget-content-right {
    margin: 10px auto;
    width: 80%; 
    display: hidden;
   
  
  }

  /* Increase the width of the table */
  .table-responsive-3 table {
    width: 100%; /* Set the table width to 100% */
  }
  .form-control{
    width: 50%;
    /* margin-left: 50px; */
  }
  #seacrh-admin{
    width: 100px;
  }
}
@media screen and (max-width: 600px) {
.box-tabel {
  overflow-y: auto;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.search {
  width: 95%;

}
table tbody tr td {
  min-width: 80px;
}
table thead tr th {
  min-width: 150px;
}
.card-header {
  overflow-y: auto;
  width: 100%;
}

  /* table {
    border: 0;
  }

  .box-tabel {
    width: 200rem;
  }

  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table tbody td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table tbody td .aksi {
    text-align: right;
    display: flex;
    justify-content: right;
  }

  table tbody td img {
    width: 100px;
  }
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  } */
}
