/* .scrollbar-sidebar {
    position: fixed;
    left: -300px;
    transition: left 0.3s ease;
  }

  .scrollbar-sidebar.openSidebar {
    left: 0;
  }

  .scrollbar-sidebar.closedSidebar {
    left: -300px;
  } */
